! rofi
rofi.modi: run
rofi.font: Hack 15
rofi.width: 50
rofi.lines: 5
rofi.columns: 1
rofi.opacity: 100
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #263238, #eeffff, #263238, #4883ff, #eeffff
rofi.color-urgent: #263238, #eeffff, #263238, #4883ff, #eeffff
rofi.color-active: #263238, #eeffff, #263238, #4883ff, #eeffff
rofi.color-window: #263238, #4883ff, #4883ff
rofi.bw: 4
rofi.location: 0
rofi.padding: 10
rofi.fuzzy: false
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.auto-select: false

*background: #263238
*foreground: #eeffff
*color0:  #263238
*color8:  #546e7a
*color1:  #f04600
*color9:  #ff763e
*color2:  #42d242
*color10: #8efa83
*color3:  #fad430
*color11: #ffeb95
*color4:  #4882ff
*color12: #83aaff
*color5:  #b916d7
*color13: #da64ef
*color6:  #3dd7ff
*color14: #8ae7ff
*color7:  #d6d6d6
*color15: #eeffff


URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext-common:     matcher,foo

URxvt.keysym.F11:          perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.url-launcher:        /usr/bin/chromium
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1
